@import "styles/sidebar.scss";

a:hover {
  text-decoration: none !important;
}

.btn {
  a {
    color: white;
  }
}

.text-center {
  text-align: center;
  h1{
    color: blue;
  }
}

.login-form{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.back-button{
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.forms{
  // Small devices (landscape phones, less than 768px)
  @media (min-width: 767.98px) {
    margin: 0 10rem;
  }
}

.form-error {
  color: red;
}

.actions {
  button{
    margin-right: 3px;
  }
  a{
    margin-right: 3px;
  }
}

.nav-right{
  margin-right: 10px;
  margin-top: -50px;
  float:right; 
}
